html{
  padding: 0;
  background-image: linear-gradient(#131313,#112727);
  background-position: center;
}

.App {
  text-align: center;
  background-image: linear-gradient(#131313,#112727);
}

.cats{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cats>*{
  transition: 0.2s;
}

.cats>*:hover{
  transform: scale(1.02);
  cursor: pointer;
  color: white;
}

.container{
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news{
  transition: 0.2s;
  padding: 0.2rem 1.5rem 1rem 1.5rem;
  width: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
  color:#ddd;
  background:#333
}

.news:hover{
  transform: scale(1.02);
  border-radius: 15px;
  border: 1px solid #1666C8;
}

.img{
  display: flex;
  align-items: start;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.img>img{
  object-fit: cover;
   width: 250px;
   height:250px
}

.content{
  margin-left: 30px;
  text-align: justify;
}

.creds{
  display: flex;
  justify-content: start;
}

.creds>*{
   margin-right: 20px;
}

h3{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.description{
  font-size:1.2rem;
  color: #cccccc;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
